.form-body {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.788);
  height: calc(100vh - 60px);
  width: 100vw;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: right;
  margin-top: 45px;
  width: 1167px;
  height: calc(100vh - 150px);
}

.form-left {
  width: 625px;
  padding: 20px;
  margin-left: 10px;
}

.form-right {
  width: 542px;
  padding: 20px;
  margin-left: -10px;
}

.form-item {
  margin-top: -10px;
}

.special {
  display: flex;
  flex-direction: right;
}
