.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: right;
  height: 60px;
  background-color: white;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.6), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}

.header-left {
  display: flex;
  flex-direction: right;
  cursor: pointer;
  line-height: 60px;
  padding-left: 2%;
  font-weight: 460;
  font-size: 20px;
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.6);
  height: 60px;
  width: 239px;
  user-select: none;
}
.header-left:hover {
  /* background-color: rgba(223, 223, 223, 0.842); */
  box-shadow: -3px -3px 5px 1px rgba(0, 0, 0, 0.6);
}

.header-right {
  display: flex;
  flex-direction: right;
  padding-left: 100px;
  line-height: 45px;
}

.tab {
  list-style: none;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  margin-right: 40px;
  user-select: none;
}
