.App {
  text-align: center;
}

.header {
  height: 60px;
  background-color: rgba(223, 222, 222, 0.747);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header-left {
  line-height: 60px;
  padding-left: 2%;
  font-weight: 420;
  font-size: 20px;
}

.header-tabs {
  position: absolute;
  margin-left: 3%;
  margin-top: 28px;
}

.form-body {
  display: flex;
  flex-direction: right;
}

.form-left {
  margin-left: 11%;
  margin-top: 5%;
  padding: 10px;
  height: 500px;
  width: 35%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(154, 204, 250, 0.884);
}

.form-right {
  margin-left: 5%;
  margin-top: 5%;
  padding: 10px;
  height: 500px;
  width: 35%;
  border: 1px solid black;
  border-radius: 10px;
}

.claim-table {
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
